/* Basic style reset */
.link {text-decoration: none;}
.list {
    margin: 0;
    padding: 0;
    list-style: none;  
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p { 
    margin: 0; 
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

.thumbnail {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Custom properties */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-silver: #757575;
    --color-dark-green: #212121;
    --color-white-smoke: #F5F5F5;
    --color-white-solid: #F5F4FA;
    --color-blue: #2196F3;
    --persian-blue: #188CE8;
    --color-bright-gray: #ECECEC
}

/* Styles for the container that centers the content */

body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    color: var(--color-silver); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section { padding: 94px 0; }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Styles for the logo */

.logo {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.173;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo .logo__text--blue { color: var(--color-blue); }

/* Styles for the header element */

.header {
    border-bottom: 1px solid var(--color-bright-gray);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-menu { margin-left: 93px; }

.header-menu__item { 
    display: inline-block;
    margin-left: 50px; 
}

.header-menu__item:first-of-type { margin-left: 0; }

.header-menu__link {
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.02em;
    color: var(--color-dark-green);
}

.header-menu__link:hover,
.header-menu__link:focus,
.header-menu__link.is-active { 
    color: var(--color-blue);
}

.header-contact {
    display: inline-flex;
    align-items: center; 
    margin-left: auto; 
}


.header-contact__item {
    display: inline-flex;
    margin-left: 50px;
}

.header-contact__icon {
    display: inline-block;
    margin-right: 10px;
}

.header-contact__item:first-of-type { margin-left: 0; }

.header-contact__link {
    display: inline-flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.02em;
    color: var(--color-silver);
}

.header-contact__link:hover ,
.header-contact__link:focus { 
    color: var(--color-blue);
}

/* Inner title for section */

.title-section {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
}

/* Component list */

.list-item-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    text-align: center;
}

.tabs-item {
    display: inline-block;
}


.tabs-item__button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
    background: var(--color-white-solid);
    border-radius: 4px;
}

.tabs-item__button:hover,
.tabs-item__button:focus {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Styles for the banner section element */

.banner {
    padding: 200px 0;
    text-align: center;
    background-color: #2F303A;
}

.banner-title {
    width: 696px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.order-service {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.order-service:hover,
.order-service:focus {
    background: var(--persian-blue);
}

.features {padding-top: 94px;}

/* Styles for the About us section element */

.about-us__list {
    display: flex;
    gap: 30px;
}

.about-us__item {
    flex-grow: 1;
    width: calc(25% - 30px);
}

.about-us__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-dark-green);
}

.about-us__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

/*  Styles for the About team element */

.about-team { background-color: var(--color-white-solid); }

.list-team__item {
    text-align: center;
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-team__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--color-dark-green);
}

.list-team__description {
    font-style: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

/*  Styles for the portfolio element*/

.portfolio-list__item {
    flex-grow: 1;
	width: calc(33% - 30px);
}
 
.portfolio-list__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark-green);
}

.portfolio-list__description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-silver);
}

.portfolio-list__content {
    padding: 20px 24px;
    border-left: 1px solid var(--color-bright-gray);
    border-right: 1px solid var(--color-bright-gray);
    border-bottom: 1px solid var(--color-bright-gray);   
}

/* Styles for the footer element */

.footer {
    padding: 60px 0;
    background-color:  #2F303A;
}

.footer .logo {
    margin-bottom: 20px;
    color: var(--color-white);
}

.address {
    font-style: normal;
}

.address-description {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.address-list__item { margin-bottom: 9px; }
.address-list__item:last-of-type { margin-bottom: 0; }

.address-list__link {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}